.top-buffer { margin-top:20px; }
iframe{width:100%}
#virtual-keyboard{
	display:none;
}
.flou {
filter: blur(20px);
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
}